.App{
    text-align: center;
    height: 200;
    color:rgb(26,172,131);
}

#container{
    text-align: center;
}
.App-header{
   display: inline-block;
    
}

.Dropdown{
    display: inline-block;
    text-align: left;
    
}

.FrontPageHeader{
    color:white;
    background-color:rgb(24, 144, 255) ;
    font-size: 50px;
}